<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Saucedemo Page Factory">
    <classes>
      <class name="denBulygin.saucedemoPageFactory.E2E_0001_BuyProducts"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
